@font-face {
    font-family: 'Stem';
    src:
    url('./fonts/Stem-Bold.otf'),
    url('./fonts/Stem-Medium.otf'),
    url('./fonts/Stem-Regular.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/Gilroy-Bold.ttf'),
    url('./fonts/Gilroy-Semibold.ttf');
    font-style: normal;
}

:root {
    --font-family: "Stem", sans-serif;
    --second-family: "Gilroy", sans-serif;
  }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.header {
    
}

.header__nav {
    height: 100px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.header__logo {
    margin-left: 40px;
    
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 114%;
    color: #000;
}

.header__list {
    margin-left: 400px;

    display: flex;
    gap: 24px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    text-align: right;
    color: rgba(0, 0, 0, 0.7);
}

.header__phone {
    margin-left: 40px;
}

.header__phone p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 13px;
    line-height: 138%;
    text-align: right;
    color: rgba(0, 0, 0, 0.7);
}

.header__phone a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    text-align: right;
    color: #000;
}

.header__button {
    margin-left: 30px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 133%;
    text-align: center;
    color: #fff;
    
    border-radius: 6px;
    padding: 12px 24px;
    width: 168px;
    height: 44px;    
    background: #00bdf8;
}

.main {

}

.cover {
    background-image: url(./images/coverBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}

.cover__card {
    padding-top: 240px;
}

.cover__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 64px;
    line-height: 106%;
    text-align: center;
    color: #fff;
    padding-bottom: 60px;
}

.cover__subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.cover__buttons {
    padding-top: 55px;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover__button {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
}

.reception__button {
    color: #fff;

    border-radius: 6px;
    padding: 20px 32px;
    width: 264px;
    height: 56px;
    background: #00bdf8;
    display: inline-block;
    width: 265px;
}

.aboutus__button {
    color: #1a236e;

    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    padding: 20px 32px;
    width: 204px;
    height: 56px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04), 0 0 4px 0 rgba(0, 0, 0, 0.04);
    background: #fff;
    display: inline-block;
    width: 205px;
}

.cover__button-subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 133%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 25px;
    
}

.arrow-down {
    padding-top: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.team__card {
    padding-top: 120px;
}

.team__subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
    color: #00bdf8;
}

.team__title {
    padding-top: 25px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 64px;
    line-height: 106%;
    text-align: center;
    color: #000;
}

.team__sign {
    padding-top: 25px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

.team__employee-cards {
    padding-top: 65px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.team__name {
    padding-top: 25px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #000;
}

.team__info {
    padding-top: 10px;
    padding-bottom: 120px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    color: rgba(0, 0, 0, 0.7);
}

.about {
    background-image: url(./images/aboutBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 590px;
}

.about__subtitle {
    padding-top: 100px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: #00bdf8;
}

.about__title {
    padding-top: 15px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 108%;
    text-align: center;
    color: #fff;
}

.about__sign {
    padding-top: 15px;
    padding-bottom: 30px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.about__button {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: #fff;

    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    padding: 20px 32px;
    width: 161px;
    height: 56px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04), 0 0 4px 0 rgba(0, 0, 0, 0.04);
    background: #00bdf8;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.advantages {
    padding-top: 120px;
}

.advantages__subtitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
    color: #00bdf8;

    padding-bottom: 25px;
}

.advantages__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 64px;
    line-height: 106%;
    text-align: center;
    color: #000;

    padding-bottom: 65px;
}

.advantages__list {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;

    padding-bottom: 120px;
}

.advantages__item {
    text-align: center;
    width: 260px;
}

.advantages__item img {
    
}

.advantages__item-title {
    margin-top: -30px;
    padding-bottom: 15px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
    color: #000;
}

.advantages__item-subtitle {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
}
